<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="system/SaveUser.html" target="dialog" mask="true" width="400" height="400" loaded="sysSaveUser" ><span>添加账户</span></a></li>
        </ul>
    </div>
    <table id="manage_user_lt" layouth="50" class="display datatables" width="99%" >
        <thead>
            <tr>
                <th width="120">添加时间</th>
                <th width="100">账号</th>
                <th width="80">姓名</th>
                <th width="100">手机</th>
                <th width="100">QQ</th>
                <th width="200">证件号</th>
                <th width="150">地址</th>
                <th>权限</th>
                <th width="80">操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
</div>