<div class="pageContent">
    <form id="updateuser_form" method="post" action="javascript:;" class="pageForm">
        <input type="hidden" name="id">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>账号：</label>
                <input type="text" name="username" placeholder="登陆账号,可以为字母,数字或汉字" size="30" data-min="2" data-max="20" required />
            </div>
            <div class="unit">
                <label>登陆密码：</label>
                <input type="text" name="password" placeholder="账号的登陆密码,为空不更改." size="30" data-max="20" />
            </div>
            <div class="unit">
                <label>人员姓名：</label>
                <input type="text" name="name" placeholder="员工姓名" size="30" data-min="2" data-max="20" required />
            </div>
            <div class="unit">
                <label>人员手机：</label>
                <input type="text" name="phone" placeholder="员工联系电话" size="30" data-max="15" />
            </div>
            <div class="unit">
                <label>联系地址：</label>
                <input type="text" name="address" placeholder="员工联系地址" size="30" data-max="15" />
            </div>
            <div class="unit">
                <label>拥有权限：</label>
                <div id="rights_msg"></div>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交修改</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
    
</div>