<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="common/UpFileDialog.html" target="dialog" mask="true" width="400" height="200" loaded="comUpFilesDialog" ><span>上传文件</span></a></li>
        </ul>
    </div>
    <table id="manage_file_lt" layouth="50" class="display datatables" width="99%" >
        <thead>
            <tr>
                <th width="120">添加时间</th>
                <th width="100">预览</th>
                <th width="200">文件名</th>
                <th width="60">扩展名</th>
                <th width="60">文件类型</th>
                <th width="60">状态</th>
                <th width="80">文件大小</th>
                <th width="150">操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
</div>