<div class="pageContent">
    <form id="upfile_form" method="post" action="javascript:;" class="pageForm">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>文件类型：</label>
                <select name="fileType"><option></option></select>
            </div>
            <div class="unit">
                <label>上传文件：</label>
                <input id="upfile_form_file" type="file"  name="file" placeholder="选择将要上传的文件"/>
            </div>
            <div class="unit">
                <label>文件名：</label>
                <input type="text"  name="name" placeholder="保存的文件名" data-max="60" />
            </div>
            
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
    
</div>
